<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    
    .result-card {
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      color: blueviolet;
      
    }
  </style>
</head>
<body>

    <div class="container">
        <h1 class="mt-4">SUMA Info</h1>
        <div id="main-container" class="mt-4">
          <div class="row">
              <div class="col-md-4">
                <% if (session.sessionKey) { %>
                  <button class="btn btn-success btn-block mb-3" onclick="sendGetRequest('/logout');">Logout</button>
                  <% features.forEach(function(feature) { %>
                  <button class="btn btn-success btn-block mb-3" onclick="sendGetRequest('<%= feature.href %>');">
                  <%= feature.label %>
                  </button>
                  <% }); %>
                <% } else if (!session.sessionKey) { %>
                  <button class="btn btn-success btn-block mb-3" onclick="sendGetRequest('/login');">Login</button>
                <% } %>
              </div>
          </div>
        </div>
        <div id="notlogin" class="md-4"></div>
        <div id="response-container" class="mt-4"></div>
      </div>

    <div class="container">
        <h1 class="mt-4"><%= title %></h1>
        <div id="response-container" class="mt-4">
            <% data.return[0].forEach(function(client) { %>
            <div class="result-card">
                <li><strong><%= client %></strong></li>
            </div>
            <% }); %>
        </div>
    </div>
    

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    function sendGetRequest(url) {
      fetch(url)
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          //console.log(response.url);
          /* var temp_url = response.url
          if (temp_url.indexOf("logout") >= 0) {
            console.log(temp_url)
            location.reload();
          } */
          return response.text();
        })
        .then(data => {
          //var ejs_title = '<%- JSON.stringify(session.sessionKey) %>';
          var temp_url = url
          if (temp_url.indexOf("logout") >= 0) {
            console.log(temp_url)
            location.reload();
          }
          //console.log('clicked url: ', url);
          console.log('Response:', data);
          document.getElementById('response-container').innerHTML = data;          
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }
  </script>
  
</body>
</html>
